!!! 5
html(lang='en')

head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Heart Rate Streaming App')
    meta(name='author', content='Billy Frese')
    title= title
    
    // Hosted Bootstrap 3.0 
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
    // starter-template.css !
    link(rel='stylesheet', href='stylesheets/starter-template.css', type='text/css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='/javascripts/three.min.js')
    block header

body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
        col-lg.icon-bar
        col-lg.icon-bar
        col-lg.icon-bar
      a.navbar-brand(href='/') Biostream
      nav.nav-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/') Stream
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
  .container
    .starter-template
      block content

